[Unit]
Description=spleen-client

[Service]
TimeoutStartSec=0
ExecStart=/root/spleen/spleen-client -c /root/spleen/.client.json
Restart=always

[Install]
WantedBy=multi-user.target