[Unit]
Description=spleen-server

[Service]
TimeoutStartSec=0
ExecStart=/etc/spleen/spleen-server -c /etc/spleen/.server.json
Restart=always

[Install]
WantedBy=multi-user.target
