[Unit]
Description=spleen-client

[Service]
TimeoutStartSec=0
ExecStart=/etc/spleen/spleen-client -c /etc/spleen/.spleen-client.json
Restart=always

[Install]
WantedBy=multi-user.target
